#menu-icon.swap {
  visibility: hidden;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInRotate {
  from {
    transform: rotate(0deg);
    content: "menu";
  }
  to {
    transform: rotate(90deg);
    content: "close";
  }
}

@keyframes fadeOutRotate {
  from {
    transform: rotate(90deg);
    content: "close";
  }
  to {
    transform: rotate(0deg);
    content: "menu";
  }
}

@media (max-width: 600px) {
  .menu-toggle {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }
  .menu-toggle.active {
    animation: fadeInRotate 0.5s ease-in forwards;
  }

  .menu-toggle:not(.active) {
    animation: fadeOutRotate 0.5s ease-out forwards;
  }

  #songs-list.visible {
    display: block;
    animation: slideInLeft 0.5s ease-in forwards;
  }
  #songs-list:not(.visible) {
    animation: slideOutLeft 0.5s ease-out forwards;
  }

  #content.visible {
    display: block;
    animation: slideInRight 0.5s ease-in forwards;
  }
  #content:not(.visible) {
    animation: slideOutRight 0.5s ease-out forwards;
  }

  main.expanded {
    grid-template-columns: 1fr 0fr;
  }
}
